Repository SjoerdCor/tweevoortwaalf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-jupyter-output, isort, black, pylint

clear-jupyter-output:
  name: Clear output in Jupyter Notebooks
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: Sort import statements
  stages:
  - commit
  language: system
  entry: python -m isort
  args:
  - --profile
  - black

black:
  name: Format code using black
  stages:
  - commit
  language: system
  entry: python -m black

pylint:
  name: Check code style using pylint
  language: system
  stages:
  - commit
  entry: python -m pylint
  args:
  - --disable=W0511

black and pylint
  app.py
  templates/index.html
  tweevoortwaalf/paardensprong.py
  tweevoortwaalf/suitablewordselection.py
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

fix bug word selection
  tweevoortwaalf/suitablewordselection.py
Due: isort, black, pylint

split functions for showing bottom and top row 12 letter word
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

buy_letter returns the changes to be made
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

split style off to css
  static/css/style.css
  templates/index.html
Due: none

Strip guess before comparing to answer
  app.py
Due: isort, black, pylint

Show length of suitable words for each game in wordanalysis
  wordanalysis.ipynb
Due: clear-jupyter-output

Play new 12 letter word only on New Game click, add easy mode
  app.py
  static/css/style.css
  templates/index.html
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

Add ddl for tables
  tweevoortwaalf/DDL/ddl.sql
Due: none

Add writing games and letterpositions
  app.py
  pyproject.toml
Due: isort, black, pylint

Add guesses table to SQL
  app.py
  tweevoortwaalf/DDL/ddl.sql
Due: isort, black, pylint

Add boughtletters table to sql
  app.py
  tweevoortwaalf/DDL/ddl.sql
Due: isort, black, pylint

fix bug by extra comma
  tweevoortwaalf/DDL/ddl.sql
Due: none

Add stub reading all data from prod database
  pyproject.toml
  woordraderanalysis.ipynb
Due: clear-jupyter-output

Add field playername
  static/css/style.css
  templates/index.html
Due: none

Add playername in database
  tweevoortwaalf/DDL/ddl.sql
Due: none

Write playername to database
  app.py
  templates/index.html
Due: isort, black, pylint

Use new wordlists in paardensprong and taartpuzzel
  tweevoortwaalf/paardensprong.py
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

Show basic paardensprong
  app.py
  templates/paardensprong.html
Due: isort, black, pylint

fix yellow color for "?"
  templates/paardensprong.html
Due: none

correct paardensprong to taartpuzzel for taartpuzzel
  app.py
  templates/taartpuzzel.html
Due: isort, black, pylint

Connect to taartpuzzel creator
  app.py
  templates/taartpuzzel.html
Due: isort, black, pylint

Check guess when submitted
  app.py
  templates/taartpuzzel.html
Due: isort, black, pylint

Split images from puzzle
  pyproject.toml
  tweevoortwaalf/puzzleimages.py
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

Add python code to calculate positions of letters
  templates/taartpuzzel.html
Due: none

make images optional in paardensprong
  tweevoortwaalf/paardensprong.py
Due: isort, black, pylint

create taartpuzzel tables
  tweevoortwaalf/DDL/taartpuzzel.sql
  tweevoortwaalf/DDL/woordrader.sql
Due: none

Add write to new game
  app.py
Due: isort, black, pylint

Add guess write taartpuzzel
  app.py
Due: isort, black, pylint

fix bug where taartpuzzel uniqueness wasn't tested properly
  tweevoortwaalf/taartpuzzel.py
Due: isort, black, pylint

Check for uniqueness taartpuzzel in app (make unique_solution() public)
  app.py
  tweevoortwaalf/paardensprong.py
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

make guess optional (if you dont know answer); limit answer length (database requirement)
  templates/taartpuzzel.html
Due: none

Add playername field to HTML, using same code as woordrader
  static/css/taartpuzzel.css
  templates/taartpuzzel.html
Due: none

Write playername to database
  app.py
Due: isort, black, pylint

Add paardensprong
  app.py
  templates/paardensprong.html
Due: isort, black, pylint

create databases
  tweevoortwaalf/DDL/paardensprong.sql
Due: none

write to databases
  app.py
Due: isort, black, pylint

prevent non-unique solutions to paardensprong
  app.py
Due: isort, black, pylint

Path conditions:
  clear-jupyter-output: any of: \.ipynb$
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$
