Repository SjoerdCor/tweevoortwaalf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-jupyter-output, isort, black, pylint

clear-jupyter-output:
  name: Clear output in Jupyter Notebooks
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: Sort import statements
  stages:
  - commit
  language: system
  entry: python -m isort
  args:
  - --profile
  - black

black:
  name: Format code using black
  stages:
  - commit
  language: system
  entry: python -m black

pylint:
  name: Check code style using pylint
  language: system
  stages:
  - commit
  entry: python -m pylint
  args:
  - --disable=W0511

html cleanup
  templates/taartpuzzel.html
Due: none

Add data 20-09-2024
  analysis/wordanalysis.ipynb
Due: clear-jupyter-output

Remove starttime as gridsearchoption
  analysis/modelbuilderpaardensprong.py
Due: isort, black, pylint

Run explainerdashboard better
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

Validate init params small puzzles; fix bug
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

Redefine missing_letter_index in sensible way
  tweevoortwaalf/taartpuzzel.py
Due: isort, black, pylint

Add missing letter probability to model
  analysis/modelbuilderpaardensprong.py
Due: isort, black, pylint

Add taartpuzzel analysis
  analysis/taartpuzzelanalysis.ipynb
Due: clear-jupyter-output

Incl missing_letter_index in model building
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

Restart timer and enable submit after new puzzle is shown
  static/js/main.js
Due: none

Focus on new game button after submit
  static/js/main.js
  templates/base.html
Due: none

Focus on guess input after new game is started
  static/js/main.js
Due: none

Use package files in taartpuzzel
  tweevoortwaalf/taartpuzzel.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

Use package files for wordlist in woordrader
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

Integrate css files
  static/css/index.css
  static/css/small_puzzles.css
  static/css/style.css
  templates/base.html
  templates/base_small_puzzles.html
  templates/index.html
Due: none

Add docstrings to functions
  analysis/taartpuzzelanalysis.ipynb
Due: clear-jupyter-output

Remove one cell
  analysis/paardenspronganalysis.ipynb
Due: clear-jupyter-output

Fix columns for puzzle option writing
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

Make woordrader fit better on phone
  static/css/style.css
  templates/base.html
Due: none

show cell with bought letters
  static/css/style.css
  templates/woordrader.html
Due: none

decrease minimum width of cell
  static/css/style.css
Due: none

Determine max width per puzzle type
  static/css/style.css
  templates/base.html
  templates/base_small_puzzles.html
Due: none

Improve scaling of cells
  static/css/style.css
Due: none

Keep count of bought letters and show
  static/js/main.js
Due: none

Change woordrader to dutch: letters bought
  templates/woordrader.html
Due: none

Show only basic info during game
  static/js/main.js
  templates/base.html
Due: none

Hide radio buttons; do not hide New Game button, spelregels
  static/js/main.js
Due: none

Show collapsed fields in right order
  templates/base.html
Due: none

Expand newGameForm on guess
  static/js/main.js
Due: none

Remove hasMode from js; every game has modes
  static/js/main.js
  static/js/smallpuzzles.js
  static/js/woordrader.js
Due: none

fix bug unplayable small puzzles; add canBuyLetters if-statement
  static/js/main.js
  static/js/smallpuzzles.js
  static/js/woordrader.js
Due: none

Remove excessive top padding new game form
  static/css/style.css
Due: none

Remove empty lines source code
  templates/base.html
Due: none

remove unnecessary js from woordraderspecific
  templates/woordraderspecific.html
Due: none

trim letters before comparing to i
  static/js/main.js
Due: none

Move letter buy to woordrader.js
  static/js/main.js
  static/js/woordrader.js
Due: none

Remove unused function
  static/js/main.js
Due: none

move guesseventlistener into DOM
  static/js/main.js
Due: none

Add input validation for woordrader
  tweevoortwaalf/woordrader.py
Due: isort, black, pylint

Path conditions:
  clear-jupyter-output: any of: \.ipynb$
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$
