Repository SjoerdCor/tweevoortwaalf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-jupyter-output, isort, black, pylint

.pre-commit-config.yaml:

repos:

  # Some default pre-commit hooks.
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Makes sure all line endings are the same.
      - id: mixed-line-ending
        name: Check and fix mixed line breaks

      # Remove trailing spaces from lines.
      # Note: Leaves hard line-breaks in markdown intact.
      - id: trailing-whitespace
        name: Check and fix trailing whitespace
        args: [--markdown-linebreak-ext=md]

      # Check YAML validity.
      - id: check-yaml
        name: Check YAML formatting

      # Check unresolved merge conflicts.
      - id: check-merge-conflict
        name: Check merge conflicts

  # Hooks using local packages.
  - repo: local
    hooks:
      - id: clear-jupyter-output
        name: Clear output in Jupyter Notebooks
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
        types: [jupyter]

      # Sort imports in scripts.
      - id: isort
        name: Sort import statements
        stages: [commit]
        language: system
        entry: python -m isort
        args: ["--profile", "black"]
        types: [python]

      # Auto-format with black.
      - id: black
        name: Format code using black
        stages: [commit]
        language: system
        entry: python -m black
        types: [python]

      # Lint with pylint.
      - id: pylint
        name: Check code style using pylint
        language: system
        stages: [commit]
        entry: python -m pylint
        args: ["--disable=W0511"]
        types: [python]

Remove superfluous comments
  static/js/main.js
Due: none

Remove unused function
  static/js/main.js
Due: none

Capitalize letters small puzzles
  static/js/main.js
  static/js/smallpuzzles.js
  static/js/woordrader.js
Due: none

Make homepage look a bit better
  static/css/index.css
  templates/index.html
Due: none

Disable guess on load
  templates/base.html
Due: none

Add spelregels to taartpuzzel
  static/css/style.css
  templates/base.html
  templates/taartpuzzel.html
Due: none

add spelregels paardensprong
  templates/paardensprong.html
Due: none

Correct speluitleg paardensprong
  templates/paardensprong.html
Due: none

Change spelregels to Speluitleg
  templates/base.html
Due: none

Add speluitleg to woordrader
  templates/woordrader.html
Due: none

Improve readability tooltip text
  static/css/small_puzzles.css
  static/css/style.css
Due: none

Add link to answer in result
  static/js/main.js
Due: none

Move analysis to separate folder
  analysis/wordanalysis.ipynb
Due: clear-jupyter-output

Move woordraderanalysis to analysis folder
  analysis/woordraderanalysis.ipynb
Due: clear-jupyter-output

Add paardensprong eda
  analysis/paardenspronganalysis.ipynb
Due: clear-jupyter-output

Update associated with package
  pyproject.toml
Due: none

Create model paardensprong difficulty
  analysis/modelbuilderpaardensprong.py
  analysis/modelbuilding.ipynb
  pyproject.toml
Due: clear-jupyter-output, isort, black, pylint

Use package data for wordlist
  tweevoortwaalf/paardensprong.py
  tweevoortwaalf/woordpuzzel.py
Due: isort, black, pylint

Write puzzleoptions to prod
  analysis/modelbuilding.ipynb
  tweevoortwaalf/DDL/paardensprong.sql
Due: clear-jupyter-output

Implement Hard Mode (using model) in app
  app.py
  static/js/paardensprong.js
  templates/paardensprong.html
Due: isort, black, pylint

remove output nb
  analysis/paardenspronganalysis.ipynb
Due: clear-jupyter-output

sqlalchemy necessary for app
  pyproject.toml
Due: none

put more weight on options close to 50%
  app.py
Due: isort, black, pylint

Remove suitable words that would never lead to unique puzzle
  tweevoortwaalf/Data/suitable_12_letter_words.txt
  tweevoortwaalf/Data/suitable_8_letter_words.txt
  tweevoortwaalf/Data/suitable_9_letter_words.txt
  tweevoortwaalf/suitablewordselection.py
Due: isort, black, pylint

Add times seen before and game id to hypotheses
  analysis/paardenspronganalysis.ipynb
Due: clear-jupyter-output

Add column selection and gridsearch to pipe
  analysis/modelbuilderpaardensprong.py
Due: isort, black, pylint

Use gridsearch in model building
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

Improve analysis of current 2 voor 12 data
  analysis/wordanalysis.ipynb
Due: clear-jupyter-output

Adding basic analysis for woordrader
  analysis/woordraderanalysis.ipynb
Due: clear-jupyter-output

Add header
  analysis/woordraderanalysis.ipynb
Due: clear-jupyter-output

Show correct link to Van Dale for pages with "ij"
  static/js/main.js
Due: none

Only select puzzles that werent selected since last puzzleoptions update
  app.py
Due: isort, black, pylint

Add logging
  app.py
Due: isort, black, pylint

Add datetime to model
  analysis/modelbuilderpaardensprong.py
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output, isort, black, pylint

Analyse taartpuzzels
  analysis/taartpuzzelanalysis.ipynb
Due: clear-jupyter-output

Train model on taartpuzzel and paardensprong combined
  analysis/modelbuilderpaardensprong.py
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output, isort, black, pylint

Run explainerdashboard properly
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

calculate n columns used
  analysis/modelbuilding.ipynb
Due: clear-jupyter-output

Move hard puzzle selection to separate function
  app.py
Due: isort, black, pylint

Add hard puzzle mode taartsprong in app
  app.py
  static/js/paardensprong.js
  static/js/smallpuzzles.js
  templates/base_small_puzzles.html
  templates/paardensprong.html
Due: isort, black, pylint
